
div{
  display: flex;
  flex-direction: column;
}

/* .figures-list{
  display: flex;
  flex-direction: row;
} */

.completed {
  text-decoration: line-through rgb(148, 255, 41);
}

.figures-list {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
